@using OfficeManager.Areas.Administration.ViewModels.Users
@model List<UserViewModel>

@{
    ViewData["Title"] = "All Users";
}
<style>
    .slow .toggle-group {
        transition: left 0.7s;
        -webkit-transition: left 0.7s;
    }
</style>
<div style="padding: 5%;">
    <h1 class="display-4" style="margin-bottom: 100px; text-align: center;">All Users</h1>
    <table class="table table-striped" align="center" width="600">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    User Name
                </th>
                <th scope="col">
                    Role
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>@user.Role</td>
                    <td>
                        @if (@user.UserName != User.Identity.Name)
                        { 
                            <input data-style="slow" type="checkbox" checked data-toggle="toggle" data-on="Admin" data-off="User" data-onstyle="primary" data-offstyle="secondary">
                        }
                        else
                        {
                            <input data-style="slow" type="checkbox" disabled checked data-toggle="toggle" data-on="Admin" data-off="User" data-onstyle="primary" data-offstyle="dark">

                        }
                    </td>

                    @{
                        if (@user.Role != "Admin")
                        {
                            <td>
                                <div class="button-holder text-right">
                                    <a style="font-size:small"
                                       asp-action="Promote"
                                       asp-route-userName="@user.UserName">
                                        Make Admin
                                    </a>
                                </div>
                            </td>
                        }
                        else
                        {
                            <td>
                                <div class="button-holder text-right">
                                    <a style="font-size:small"
                                       asp-action="Demote"
                                       asp-route-userName="@user.UserName">
                                        Make User
                                    </a>
                                </div>
                            </td>
                        }
                    }

                </tr>
            }
        </tbody>
    </table>
</div>
