@using OfficeManager.Areas.Administration.ViewModels.Tenants
@model PaginatedList<TenantOutputViewModel>

@{
    ViewData["Title"] = "All Tenants";
}

<div style="padding: 5%;">
<h1 class="display-4" style="margin-bottom: 100px; text-align: center;">All Tenants</h1>
    <form asp-action="All" method="get">
        <div class="form-actions no-color">
            <h5>
                <i>Find by name: </i><input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-action="All" class="btn btn-dark">Back to Full List</a>
            </h5>
        </div>
    </form>
    <br />
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CompanyNameSortParm"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Company Name
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["OwnerSortParam"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Company Owner
                    </a>
                </th>
                <th scope="col">Bulstat</th>
                <th scope="col" colspan="2">Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tenant in Model)
            {
                <tr>
                    <td>@tenant.CompanyName</td>
                    <td>@tenant.CompanyOwner</td>
                    <td>@tenant.Bulstat</td>
                    <td>@tenant.Address</td>
                    <td>
                        <div class="button-holder text-right">
                            <a href="/Administration/Tenants/Details?id=@tenant.Id" class="btn btn-primary">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-10">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btn btn-default @prevDisabled" style="color:black"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Previous
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    @if (@i == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link"
                               asp-action="All"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                                @i <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="All"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                                @i
                            </a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link btn btn-default @nextDisabled" style="color:black"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Next
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <div class="btn-group">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rows per page
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="5">
                        5 per page
                    </a>
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="10">
                        10 per page
                    </a>
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="All">
                        All
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
