@using OfficeManager.Areas.Administration.ViewModels.Tenants
@model TenantToEditViewModel

@{
    ViewData["Title"] = "Tenant Details";
}

<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">Tenant Details</h1>
    <form class="py-4" asp-area="Administration" asp-controller="Tenants" asp-action="Details" method="post">
        <input asp-for="@Model.Id" type="hidden" name="id" value="@Model.Id" />
        <div class="row" style="margin-bottom:20px">
            <div class="form-group col-12 col-sm-5">
                <label asp-for="CompanyName"><i>Company Name</i></label>
                <input asp-for="CompanyName" class="form-control">
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">
                <label asp-for="CompanyOwner"><i>Company Owner</i></label>
                <input asp-for="CompanyOwner" class="form-control">
                <span asp-validation-for="CompanyOwner" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-3">
                <label asp-for="Bulstat"><i>Bulstat</i></label>
                <input asp-for="Bulstat" class="form-control">
                <span asp-validation-for="Bulstat" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-5">
                <label asp-for="Address"><i>Address</i></label>
                <input asp-for="Address" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-4">
                <label asp-for="Email"><i>Email</i></label>
                <input asp-for="Email" type="email" class="form-control" validate>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-3">
                <label asp-for="Phone"><i>Phone</i></label>
                <input asp-for="Phone" class="form-control">
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group col-12 col-sm-5">
                <label asp-for="StartOfContract"><i>Sart Of Contract</i></label>
                <input asp-for="StartOfContract" class="form-control" placeholder="@Model.StartOfContract">
                <span asp-validation-for="StartOfContract" class="text-danger"></span>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <a class="btn btn-dark btn-block" href="/Administration/Tenants/All">Back</a>
            </div>
        </div>
    </form>
    <h5><i>Rented Offices: <b style="color:brown">@String.Join(", ", Model.Offices)</b></i></h5>

    <div class="row mt-2">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
            <a class="btn btn-success btn-block" href="/Administration/Tenants/AddOffices?id=@Model.Id">Add Offices</a>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <a class="btn btn-danger btn-block" href="/Administration/Tenants/RemoveOffices?id=@Model.Id">Remove Offices</a>
        </div>
    </div>
    <hr class="mt-5" />
    @{
        if (Model.HasContract)
        {
            <form id="deleteTenant" asp-area="Administration" asp-controller="Tenants" asp-action="Delete" method="post">
                <input asp-for="@Model.Id" type="hidden" name="id" value="@Model.Id" />
                <div class="row mt-4">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                        <button type="submit" class="btn btn-danger btn-block">Delete</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form id="restartTenant" asp-area="Administration" asp-controller="Tenants" asp-action="SignContract" method="post">
                <input asp-for="@Model.Id" type="hidden" name="id" value="@Model.Id" />
                <div class="row mt-4">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2 mb-sm-0 mr-sm-2">
                        <button type="submit" class="btn btn-primary btn-block">Sign new contract</button>
                    </div>
                </div>
            </form>
        }
    }
</div>
