@using Microsoft.AspNetCore.Identity
@using OfficeManager.Models
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{ 
    var IsNotAdmin = (SignInManager.IsSignedIn(User) && !this.User.IsInRole("Admin")) || !SignInManager.IsSignedIn(User);
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewData["Title"]OfficeManager</title>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <partial name="_LoginPartialLTE" />
        <!-- Main Sidebar Container -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper @(IsNotAdmin ? "no-sidebar-margin" : "")">

            @RenderBody()

        </div>
        <!-- Main Footer -->
        <footer class="border-top main-footer text-muted @(IsNotAdmin ? "no-sidebar-margin" : "")">
            <div class="container-fluid">
                &copy; 2020 - OfficeManager
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
