@using OfficeManager.Areas.Administration.ViewModels.Offices
@model PaginatedList<OfficeOutputViewModel>

@{
    ViewData["Title"] = "Create Office";
}

<h1 class="display-4" style="margin: 2%; text-align: center;">All Offices</h1>
<div style="padding: 5%;">

    <form asp-action="All" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="All">Back to Full List</a>
            </p>
        </div>
    </form>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["OfficeNameSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Office Number
                    </a>
                </th>
                <th scope="col" colspan="1">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["TenantSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Tenant
                    </a>
                </th>
                <th scope="col" colspan="1">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["AreaSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Office Area
                    </a>
                </th>
                <th scope="col" colspan="2">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["RentSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Rent/SqMeter
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var office in Model)
            {
                <tr>
                    <td>@office.Name</td>
                    @if (@office.TenantName == "Свободен")
                    {
                        <td><font size="3"><i style="color:blue"><b>@office.TenantName</b></i></font></td>
                    }
                    else
                    {
                        <td><i><b>@office.TenantName</b></i></td>
                    }
                    <td>@office.Area m<sup>2</sup></td>
                    <td>&euro; @office.RentPerSqMeter </td>
                    <td>
                        <div class="button-holder text-right">
                            <a href="/Administration/Offices/Edit?id=@office.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-10">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btn btn-default @prevDisabled" style="color:black"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Previous
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    @if (@i == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link"
                               asp-action="All"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                                @i <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="All"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                                @i
                            </a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link btn btn-default @nextDisabled" style="color:black"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Next
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <div class="btn-group">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rows per page
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="5">
                        5 per page
                    </a>
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="10">
                        10 per page
                    </a>
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="All">
                        All
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
