@using OfficeManager.ViewModels.Measurements
@model CreateMeasurementsInputViewModel
@{
    ViewData["Title"] = "Create Measurements";
}
<div style="padding: 5%;">

    <h1 class="display-4" style="margin-bottom: 100px; text-align: center;">Create Measurements</h1>
    <br />
    <i style="color:orangered;"><b>Last period: @Model.LastPeriod</b></i>
    <br />
    <form asp-controller="Measurements" asp-action="CreateMeasurements" method="post">
        <div class="row" style="margin-bottom:20px">
            <div class="col-3">
                <input class="form-control" type="hidden" asp-for="LastPeriod" value="@Model.LastPeriod" />
                <input class="form-control" type="hidden" asp-for="EndOfLastPeriod" value="@Model.EndOfLastPeriod" />
                <label asp-for="StartOfPeriod"><i>Start of Period</i></label>
                <input asp-for="StartOfPeriod" class="form-control" placeholder="@Model.StartOfPeriod.ToString("d MMMM yyyy", new System.Globalization.CultureInfo("bg-BG")) г.">
                <span asp-validation-for="StartOfPeriod" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="EndOfPeriod"><i>End of Period</i></label>
                <input asp-for="EndOfPeriod" class="form-control" placeholder="@Model.EndOfPeriod.ToString("d MMMM yyyy", new System.Globalization.CultureInfo("bg-BG")) г.">
                <span asp-validation-for="EndOfPeriod" class="text-danger"></span>
            </div>
        </div>
        <hr />
        @for (var i = 0; i < Model.Offices.Count; i++)
        {
            <div class="row" style="margin-bottom:20px">
                <div class="col-12">
                    <h5><i>Office: <b style="color:brown"> @Model.Offices[i].Name</b></i></h5>
                    <input class="form-control" type="hidden" asp-for="Offices[i].Name" value="@Model.Offices[i].Name" />
                </div>
            </div>
            <div class="row" style="margin-bottom:20px">
                <input class="form-control" style="border:none; background:none" type="hidden" size="5" asp-for="Offices[i].ElectricityMeter.Name" value="@Model.Offices[i].ElectricityMeter.Name" readonly />
                <div class="col-4">
                    <h6><i>Electricity Meter: <b style="color:blue"> @Model.Offices[i].ElectricityMeter.Name</b></i></h6>
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control" type="hidden" asp-for="Offices[i].ElectricityMeter.DayTimeMinValue" value="@Model.Offices[i].ElectricityMeter.DayTimeMinValue" />
                            <label asp-for="Offices[i].ElectricityMeter.DayTimeMeasurement"><i>DayTime</i></label>
                            <input asp-for="Offices[i].ElectricityMeter.DayTimeMeasurement" class="form-control" size="10" />
                            <span asp-validation-for="Offices[i].ElectricityMeter.DayTimeMeasurement" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <input class="form-control" type="hidden" asp-for="Offices[i].ElectricityMeter.NightTimeMinValue" value="@Model.Offices[i].ElectricityMeter.NightTimeMinValue" />
                            <label asp-for="Offices[i].ElectricityMeter.NightTimeMeasurement"><i>NightTime</i></label>
                            <input asp-for="Offices[i].ElectricityMeter.NightTimeMeasurement" class="form-control" size="10" />
                            <span asp-validation-for="Offices[i].ElectricityMeter.NightTimeMeasurement" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom:20px">
                @for (int j = 0; j < Model.Offices[i].TemperatureMeters.Count; j++)
                {
                    <input class="form-control" style="border:none; background:none" type="hidden" size="5" asp-for="Offices[i].TemperatureMeters[j].Name" value="@Model.Offices[i].TemperatureMeters[j].Name" readonly />
                    <div class="col-4">
                        <h6><i>Temperature Meter: <b style="color:blue"> @Model.Offices[i].TemperatureMeters[j].Name</b></i></h6>
                        <div class="row">
                            <div class="col-6">
                                <input class="form-control" type="hidden" asp-for="Offices[i].TemperatureMeters[j].HeatingMinValue" value="@Model.Offices[i].TemperatureMeters[j].HeatingMinValue" />
                                <label asp-for="Offices[i].TemperatureMeters[j].HeatingMeasurement"><i>Heating</i></label>
                                <input asp-for="Offices[i].TemperatureMeters[j].HeatingMeasurement" class="form-control" size="10" />
                                <span asp-validation-for="Offices[i].TemperatureMeters[j].HeatingMeasurement" class="text-danger"></span>
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="hidden" asp-for="Offices[i].TemperatureMeters[j].CoolingMinValue" value="@Model.Offices[i].TemperatureMeters[j].CoolingMinValue" />
                                <label asp-for="Offices[i].TemperatureMeters[j].CoolingMeasurement"><i>Cooling</i></label>
                                <input asp-for="Offices[i].TemperatureMeters[j].CoolingMeasurement" class="form-control" size="10" />
                                <span asp-validation-for="Offices[i].TemperatureMeters[j].CoolingMeasurement" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <hr />
        }
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
