@using OfficeManager.ViewModels.AccountingReports
@model PaginatedList<AccountingReportListViewModel>

@{
    ViewData["Title"] = "All Accounting Reports";
}
<div style="padding: 5%;">
    <h1 class="display-4 text-center mb-5">All Accounting Reports</h1>

    <div class="row">
        <div class="col-8">
            <form asp-action="All" method="get">
                <br />
                <div class="form-actions no-color">
                    <h5>
                        <i>Find by name: </i><input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-primary" /> |
                        <a asp-action="All" class="btn btn-dark">Back to Full List</a>
                    </h5>
                </div>
                <br />
            </form>
        </div>
        <div class="col-2">
            <div class="dropdown show">
                <a class="btn btn-dark btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Tenant
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var tenant in (List<string>)ViewData["AllTenants"])
                    {
                        <a class="dropdown-item"
                           asp-action="All"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@tenant"
                           asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                            @tenant
                        </a>
                    }

                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="dropdown show">
                <a class="btn btn-dark btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter by Period
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @foreach (var period in (List<string>)ViewData["AllPeriods"])
                    {
                        <a class="dropdown-item"
                           asp-action="All"
                           asp-route-sortOrder="@ViewData["CurrentSort"]"
                           asp-route-currentFilter="@period"
                           asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                            @period
                        </a>
                    }
                </div>
            </div>
        </div>

    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["NumberSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Number
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["DateSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Created On
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["TenantSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Company Name
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["PeriodSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Period
                    </a>
                </th>
                <th scope="col" colspan="2">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["TotalAmountSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Total Amount
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accountingReport in Model)
            {
                <tr>
                    <td>@accountingReport.Number</td>
                    <td>@(accountingReport.CreatedOn.ToString("d MMMM yyyy", new System.Globalization.CultureInfo("bg-BG")) + " г.")</td>
                    <td>@accountingReport.CompanyName</td>
                    <td>@accountingReport.Period</td>
                    <td>@(accountingReport.TotalAmount.ToString("F2") + " лв.")</td>
                    <td>
                        <div class="button-holder text-right">
                            <a href="/AccountingReports/Details?id=@accountingReport.Id" class="btn btn-primary">View</a>
                        </div>
                        <div class="button-holder text-right">
                            <a asp-action="GetPdf" asp-route-id="@accountingReport.Id" class="btn btn-primary">GetPDF</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PaginationPartial" />
</div>
