@using OfficeManager.ViewModels.AccountingReports
@model PaginatedList<AccountingReportListViewModel>

@{
    ViewData["Title"] = "All Accounting Reports";
}
<h1 class="display-4" style="margin: 2%; text-align: center;">All Accounting Reports</h1>
<div style="padding: 5%;">

    <div class="row">
        <div class="col-6">
            @foreach (var tenant in (List<string>)ViewData["AllTenants"])
            {
                <div class="row">
                    <a style="font-size:small"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@tenant"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        @tenant
                    </a>
                </div>
            }

        </div>
        <div class="col-6">
            @foreach (var period in (List<string>)ViewData["AllPeriods"])
            {
                <div class="row">
                    <a style="font-size:small"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-currentFilter="@period"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        @period
                    </a>
                </div>
            }
        </div>
    </div>
    <br />
    <form asp-action="All" method="get">
        <div class="form-actions no-color">
            <p>
                Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="All">Back to Full List</a>
            </p>
        </div>
    </form>
    <br />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["NumberSortParm"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Number
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["DateSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Created On
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["TenantSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Company Name
                    </a>
                </th>
                <th scope="col">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["PeriodSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Period
                    </a>
                </th>
                <th scope="col" colspan="2">
                    <a style="color:white"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["TotalAmountSortParam"]"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Total Amount
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accountingReport in Model)
            {
                <tr>
                    <td>@accountingReport.Number</td>
                    <td>@(accountingReport.CreatedOn.ToString("d MMMM yyyy", new System.Globalization.CultureInfo("bg-BG")) + " г.")</td>
                    <td>@accountingReport.CompanyName</td>
                    <td>@accountingReport.Period</td>
                    <td>@(accountingReport.TotalAmount.ToString("F2") + " лв.")</td>
                    <td>
                        <div class="button-holder text-right">
                            <a href="/AccountingReports/Details?id=@accountingReport.Id" class="btn btn-primary">View</a>
                        </div>
                        <div class="button-holder text-right">
                            <a asp-action="GetPdf" asp-route-id="@accountingReport.Id" class="btn btn-primary">GetPDF</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-10">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link btn btn-default @prevDisabled" style="color:black"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Previous
                    </a>
                </li>
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    @if (@i == Model.PageIndex)
                    {
                        <li class="page-item active">
                            <a class="page-link"
                               asp-action="All"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                                @i <span class="sr-only">(current)</span>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link"
                               asp-action="All"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@i"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                                @i
                            </a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link btn btn-default @nextDisabled" style="color:black"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                        Next
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-2">
            <div class="btn-group">
                <button class="btn btn-dark btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rows per page
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item-text" style="font-size:small"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="5">
                        5 per page
                    </a>
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="10">
                        10 per page
                    </a>
                    <a class="dropdown-item-text"
                       asp-action="All"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="1"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       asp-route-rowsPerPage="All">
                        All
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
