@using OfficeManager.Areas.Administration.ViewModels.TemperatureMeters
@model PaginatedList<TemperatureMeterOutputViewModel>

@{
    ViewData["Title"] = "All Temperature Meters";
}

    <div style="padding: 5%;">
        <h1 class="display-4 text-center mb-5">All Temperature Meters</h1>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">
                        <a style="color:white"
                           asp-action="All"
                           asp-route-sortOrder="@ViewData["TemperatureMeterSortParam"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                            Temperature Meter Number
                        </a>
                    </th>
                    <th scope="col" colspan="2">
                        <a style="color:white"
                           asp-action="All"
                           asp-route-sortOrder="@ViewData["OfficeNameSortParm"]"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           asp-route-rowsPerPage="@ViewData["RowsPerPage"]">
                            Office Number
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var temperatureMeter in Model)
                {
                    <tr>
                        <td>@temperatureMeter.Name</td>
                        <td>@temperatureMeter.OfficeNumber</td>
                        <td>
                            <div class="button-holder text-right">
                                <a href="/Administration/TemperatureMeters/Edit?id=@temperatureMeter.Id" class="btn btn-primary">Edit</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <partial name="_PaginationPartial" />
    </div>