@using OfficeManager.Areas.Administration.ViewModels.TemperatureMeters
@model PaginatedList<TemperatureMeterOutputViewModel>

@{
    ViewData["Title"] = "All Temperature Meters";
}

<h1 class="display-4" style="margin: 2%; text-align: center;">All Temperature Meters</h1>
<div style="padding: 5%;">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    <a asp-action="All" style="color:white" asp-route-sortOrder="@ViewData["TemperatureMeterSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Temperature Meter Number</a>
                </th>
                <th scope="col" colspan="2">
                    <a asp-action="All" style="color:white" asp-route-sortOrder="@ViewData["OfficeNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Office Number</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var temperatureMeter in Model)
            {
                <tr>
                    <td>@temperatureMeter.Name</td>
                    <td>@temperatureMeter.OfficeNumber</td>
                    <td>
                        <div class="button-holder text-right">
                            <a href="/Administration/TemperatureMeters/Edit?id=@temperatureMeter.Id" class="btn btn-primary">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <a asp-action="All"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex - 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        @if (@i == Model.PageIndex)
        {
            <a asp-action="All"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@i"
               asp-route-currentFilter="@ViewData["CurrentFilter"]" style="color:red">
                @i
            </a>
        }
        else
        {
            <a asp-action="All"
               asp-route-sortOrder="@ViewData["CurrentSort"]"
               asp-route-pageNumber="@i"
               asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @i
            </a>
        }
    }
    <a asp-action="All"
       asp-route-sortOrder="@ViewData["CurrentSort"]"
       asp-route-pageNumber="@(Model.PageIndex + 1)"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
</div>